<div id="header">
  <a routerLink="index">Index page</a>
  <a routerLink="list">List page</a>

  <button (click)="toggleListAccess()">Toggle list access</button>
</div>

<router-outlet></router-outlet>






<!-- <h1>My name is: {{name}}</h1>

<h1 *ngIf="show">toggle each 3 sec</h1>

<table>
  <tr *ngFor="let row of sports">
    <td>{{ row.id }}</td>
    <td>{{ row.name }}</td>
  </tr>
</table>

<table>
  <tr *ngFor="let row of users">
    <td>{{ row.id }}</td>
    <td>{{ row.name }}</td>
    <td>{{ row.email }}</td>
  </tr>
</table>

<button [ngClass]="{'color-green': btn_class_green}" 
        (click)="toggleClass()">Toggle class</button>

<button (click)="getData()">Get user list</button>

<button (click)="openPopup()">Open popup</button>

<input [(ngModel)]="user.name"
       [formControl]="controls.name">

<div>The value in the input is: {{user.name}}</div>
<app-popup #mainPopup></app-popup> -->

