/* 1. HTML element */
div {
    display: inline-block;
}

/* 2. specific HTML child elements */
label span {
    vertical-align: super;
    color: #FF0000;
}

/* 3. Element that has two classes */
.nav-item.active {
    background: rgba(0, 0, 0, .08)
}

/* 4. All first level child elements */
ul > li {
    list-style: none;
}


/* 5. All child elements */
body * {
    box-sizing: border-box;
}

/* 6. All elements with a specific attribute */
[type=tel] {
    position: relative
}

/* 7. Style two elements the same */

img,
.picture {
    width: 300px;
    height: 300px;
}

/* 8. Style all selected elements that don't use a class */
td:not(.not-center) {
    text-align: center
}

/* 9. Add style to an element when it's hovered */
.nav-item:hover > div {
    display: block;
}

/* 10. Use a state selector that is not mentioned in this file, choose from  */
.logo:after {
    content: 'after logo'
}